.signup-main {
  padding: 8rem 1.5rem 4rem;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.brevo-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.brevo-form-wrapper > * {
  width: 100%;
}
